body {
  background-color: #1d2323;
  color: #bfbfbf;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}
label {
  font-size: 1.2rem;
}
input {
  margin-left: 10px;
  outline: none;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  padding: 7px;
}
p {
  font-size: 20px;
}
.container {
  text-align: left;
  margin-left: 100px;
}
ul,
li {
  padding: 10px;
}
#btn {
  border: none;
  margin: 1.5rem;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 5);
}
